* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 180, 233, 0.288);
}
.app {
  flex-basis: 100%;
  text-align: center;
  font-family: "Amatic SC", cursive;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  text-shadow: 1px 1px 1px violet;
  max-width: 900px;
  background-color: #fff;
}
/*title*/
.app h1 {
  color: rgb(95, 121, 160);
  letter-spacing: 2px;
  /* font-style: oblique; */
}
.app .header {
  flex-basis: 22%;
  line-height: calc(100vh / 5);
  background-color: lightblue;
  text-shadow: 1px 1px 1px violet;
  border-top: 4px dashed pink;
  border-bottom: 4px dashed pink;
}
.app .control {
  flex-basis: 22%;
  line-height: calc(100vh / 8);
  background-color: rgba(126, 146, 255, 0.096);
  border-bottom: 2px dashed pink;
}
.app .control input[type="text"] {
  font-size: 23px;
  padding-left: 10px;
  margin-right: 20px;
  color: rgb(173, 216, 230);
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  letter-spacing: 1px;
  border: 1px dashed rgb(247, 189, 247);
  width: 70%;
  border-radius: 5px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
  margin-bottom: 0px;
  /* display: inline-block; */
  font-size: 19px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 4px;
  width: 22px;
  height: 22px;
  border: 2px dashed rgb(247, 189, 247);
  background: #ffffff;
  border-radius: 9px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: "✔";
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 31px;
  line-height: 0.9;
  color: rgb(173, 216, 230);
  transition: all 0.2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #999999;
  background-color: #dddddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999999;
}
[type="checkbox"]:disabled + label {
  color: #aaaaaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #0000ff;
}
/* hover style just for information */
label:hover:before {
  border: 2px dashed #d947d3 !important;
  background: #ffffff;
}
.app .control label {
  letter-spacing: 2px;
  font-weight: 600;
  color: lightblue;
  font-size: 27px;
}

/* placeholder style */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  letter-spacing: 1px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  letter-spacing: 1px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  letter-spacing: 1px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  letter-spacing: 1px;
}
.app .control button {
  padding: 5px 50px;
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  font-size: 25px;
  letter-spacing: 2px;
  background-color: lightblue;
  border: 2px solid pink;
  color: rgb(95, 121, 160);
  text-shadow: 1px 1px 1px violet;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.app .control button:hover {
  background-color: rgb(95, 121, 160);
  color: lightblue;
  border: 2px solid lightblue;
}
.taskList {
  flex-basis: 56%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(126, 146, 255, 0.096);
  border-bottom: 2px dashed pink;
}
.taskList h2 {
  color: rgb(95, 121, 160);
  text-shadow: 1px 1px 1px violet;
  letter-spacing: 1px;
  font-weight: 100;
}
.taskList li {
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(95, 121, 160);
  text-shadow: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 19px;
}
.taskList button {
  background-color: unset;
  border: 1px dashed pink;
  color: rgb(74, 174, 207);
  font-size: 18px;
  padding: 2px 6px;
  margin-right: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.4s;
  font-family: "Amatic SC", cursive;
  font-weight: 900;
  letter-spacing: 1px;
}
.taskList button:hover {
  color: white;
  background-color: violet;
}
.taskList .done:hover {
  color: white;
  background-color: rgb(170, 231, 164);
}
.priority,
.normal {
  color: rgb(243, 129, 148);
  /* font-style: italic; */
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 1px 0px 2px pink;
  padding: 0 3px;
  margin-right: 5px;
}
.normal {
  color: rgb(95, 121, 160);
  text-shadow: 1px 0px 2px rgb(95, 121, 160);
}

.taskList ul {
  list-style-type: decimal;
}
hr {
  border: 1px solid rgba(204, 226, 233, 0.493);
}
@media screen and (max-width: 350px) {
  .app .control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: unset;
    padding: 40px 0;
  }
  .app .header {
    flex-basis: 15%;
    line-height: unset;
    padding: 10px 0;
  }
  .app .control input[type="text"] {
    margin: 20px 0;
    width: 95%;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    margin-bottom: 20px;
  }
}
